{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<script src="{{ url_for('static', filename='js/battle.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<style media="screen" type="text/css">
.hidethis {
  display:none;
}
/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img{
  outline: 1px solid #f00;
}

</style>

{% endblock %}

{% block container %}

<div class="row" id="instructions">
<h1>Cats vs. Dogs!</h1>
<p>The task is pretty simple - Pick a dog and battle through a set of cats.</p>
<p>Pick the model that looks cuter to you! And remember - no favouritism! Be true to our beautiful models :)</p>
<div class="line">
</div>
</div>
<form method="POST" id="battleform">
  <div class="row" id="step1">
    <p>Thanks for helping us out! Please put in your name and let's go!</p>
    <label>Name</label>
    <br>
    <input type="text" name="name" id="name">
    <button type="submit">Go!</button>
  </div>

  <div class="row" id="step2" style="display:none;">
  <h2>Choose your Hero!</h2>
  {% if dogs|length < 1 %}
  <p>No dogs in database :(</p>
  {% else %}
  <br>

  <div class="row">
  {% for dog in dogs %}
	<div class="col-sm-4">
      <label for="{{dog.id}}">
          <input type="radio" name="selectedDog" id="{{dog.id}}" value="{{dog.id}}">
		      <img id="player-picture" src="{{ dog.weblink }}" style="max-width: 250px; max-height: 250px">
      </label>
		<p><b>Name </b>- {{ dog.name }}</p>
		<p><b>Breed </b>- {{ dog.breed }}</p>
  </div>
  {% endfor %}
  </div>
  </div>
  {% endif %}
  <div class="row" id="step3" style="display:none;">
  <h2>Battles!</h2>
    <div class="col-sm-6">
      <label for="dog">
        <button type="button" name="selectedCatModel" id="dog" value="battle_dog.id">
        <img id="dog-picture" src="https://picsum.photos/250" style="max-width: 250px; max-height: 250px">
        </button>
      </label>
      <p><b>Name </b>- <span id="dog-name">dog.name</span></p>
  		<p><b>Breed </b>- <span id="dog-breed">dog.breed</span></p>
    </div>
    <div class="col-sm-6">
      <label for="cat">
        <button type="button" name="selectedCatModel" id="cat" value="battle_cat.id ">
        <img id="cat-picture" src="https://picsum.photos/250" style="max-width: 250px; max-height: 250px">
        </button>
      </label>

      <p><b>Name </b>- <span id="cat-name">cat.name</span></p>
  		<p><b>Breed </b>- <span id="cat-breed">cat.breed<span></p>
    </div>
  </div>

  <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
  <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
</form>

  <div class="row" id="thanks" style="display: none;">
    <h2>Thanks! :)</h2>
    <p>Commiting your data, thanks for your help! Check out how your hero is doing on the <i>Leaderboard(Need to add link)</i>.</p>
    <p><a href="/battle">Feeling like taking another shot?</a></p>
  </div>
{% endblock %}
