{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block container %}
<h1>Welcome to Cats Or Dogs v2.0! </h1>
<p>This website will demonstrate the usage of the TrueSkill Algorithm(a massive improvement over the traditional Arpad Élo Algorithm!), and we will be experimenting on Cats and Dogs! </p>
<p>Arpad Élo devised an algorithm to rate chess players back in the 1900s, but today you and I are going to use it to rate dogs and cats.</p>
<p>Every model has a rating and the system will adjust itself depending on it's matchup. The objective of this project is to observe the journey of elo ratings and how they adjust themselves through their lifetime. If you'd like to observe and not play, move on to: <a href="graphs.html">Data Graphs</a> </p>
{% endblock%}