{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}


{% block container %}
<h1>TrueSkill Info</h1>
<br>
<div class="row">
	<div class="col-sm-4">
		<img id="player-picture" src="{{ animal.weblink }}" style="max-width: 250px; max-height: 250px">
	</div>
	<div class="col-sm-8">
		<p id="dog-id"><b>ID </b>- {{ animal.id }}</p>
		<p id="dog-name"><b>Name </b>- {{ animal.name }}</p>
		<p id="dog-breed"><b>Breed </b>- {{ animal.breed }}</p>
		<p id="dog-mean"><b>TrueSkill µ </b>- {{ animal.mean }}</p>
		<p id="dog-deviation"><b>TrueSkill σ </b>- {{ animal.deviation }}</p>
		<p id="dog-date-created"><b>Date Created </b>- {{ animal.date_created.date() }}</p>
	</div>
</div>
<br>
<canvas id="Trueskill"></canvas>
<script type="text/javascript">// Some Chart Colors.

window.chartColors = {
    // Colors I added, for better contrast.
    sienna: 'rgb(160,82,45)',
    darkslategray: 'rgb(47, 79, 79)',
    seagreen: 'rgb(46, 139, 87)',
    darkred: 'rgb(139, 0, 0)',
    olive: 'rgb(128, 128, 0)',
    purple: 'rgb(127, 0, 127)',
    orangered: 'rgb(255, 69, 0)',
    orange: 'rgb(255, 165, 0)',
    yellow: 'rgb(255, 255, 0)',
    chartreuse: 'rgb(127, 255, 0)',
    mediumspringgreen: 'rgb(0, 250, 154)',
    royalblue: 'rgb(65, 105, 225)',
    aqua: 'rgb(0, 255, 255)',
    deepskyblue: 'rgb(0, 191, 255)',
    blue: 'rgb(0, 0, 255)',
    fuchsia: 'rgb(255, 0, 255)',
    khaki: 'rgb(240, 230, 140)',
    salmon: 'rgb(250, 128, 114)',
    plum: 'rgb(221, 160, 221)',
    deeppink: 'rgb(255, 20, 147)',
    // Preset Colors.
    red: 'hex(#ffa500)',
    orange2: 'rgb(255, 159, 64)',
    yellow2: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue2: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(201, 203, 207)',
    aqua2: 'rgb(0,255,255)',
    beige: 'rgb(245,245,220)',
    black: 'rgb(0,0,0)',
    lime: 'rgb((0,255,0)',
    golden: 'rgb(218,165,32)',
    orange_red: 'rgb(255,69,0)',
    navy: 'rgb(0,0,128)',
    thistle: 'rgb(216,191,216)',
    slate_grap: 'rgb(112,128,144)'
};

// Some Chart Colors --End
var i=0;
var colorNames = Object.keys(window.chartColors);
var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
var config = {
    type: 'line',
    data: {
        labels: {{ labels }},
        datasets: [{
            label: '{{ animal.name }} µ',
            backgroundColor: window.chartColors['deeppink'],
            borderColor: window.chartColors['deeppink'],
            data: {{ MeanHistory }},
            fill: false,
        }, {
            label: '{{ animal.name }} σ',
            fill: false,
            borderDash: [5,5],
            backgroundColor: window.chartColors['plum'],
            borderColor: window.chartColors['plum'],
            data: {{ DeviationHistory }},
        }],
    },
    options: {
        legend: {
            display: true
        },
        responsive: true,
				maintainAspectRatio: true,
        title: {
            display: true,
            text: 'TrueSkill Info Line Chart'
        },
        tooltips: {
        	enabled: true,
            mode: 'index',
            intersect: false,
            callbacks: {
                    label: function(tooltipItems, data) {
                    	var symbol = 'µ';
                    	var label;
                    	if(i % 2 == 0)
                    	{
                    		symbol='σ';
                        	label = symbol+' = '+tooltipItems.yLabel+' Enemy σ = 8.3';
                        }
                        if(i%2 !=0)
                        {
                        	symbol='µ';
                    	    label = symbol+' = '+tooltipItems.yLabel+' Enemy µ = 24';
                        }
                        i+=1;
                        return label;
            }
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Battles'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'TrueSkill Rating'
                }
            }]
        }
    }
}};

window.onload = function() {
    var ctx = document.getElementById('Trueskill').getContext('2d');
    window.myLine = new Chart(ctx, config);
};
var colorNames = Object.keys(window.chartColors);
</script>
<div class="line"></div>
<h2>Battle History Chart</h2>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{ animal.name }}</th>
      <th scope="col">Enemy</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
		{% if LabRatID|length < 1 %}
		<tr>
			<th scope="row">No data to show currently. :(</th>
		</tr>
		{% else %}
		{% for x in range(length) %}
    <tr>
      <th scope="row">{{x+1}}</th>
      <td>µ = {{  MeanHistory[x] }} ; σ = {{ DeviationHistory[x] }}</td>
      <td>µ = {{ OpponentMean[x] }} ; σ =  {{ OpponentDeviation[x] }}
      	<br>{{ OpponentName[x] }}
      </td>
      <td>
				{% if Result[x] == "W" %}
				<span class="text-success">(W) </span>
				{% else %}
				<span class="text-danger">(L) </span>
				{% endif %}
				µ = {{ MeanHistory[x+1] }}; σ = {{ DeviationHistory[x+1] }}
			</td>
    </tr>
		{% endfor %}
		{% endif %}
</tbody>
</table>
{% endblock %}
